footer{
    background-image: url("https://raw.githubusercontent.com/julienmathy/orelsansite/master/src/img/random_grey_variations.png");
    display: flex;
    margin: auto;
    text-align: center;
    color: white;
    justify-content: center;
    margin:0;
}
footer h1{
    font-size: 1.2rem;;
}
footer p{
    padding: 0;
    margin: .2rem;
}
footer div{
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem;
}
footer aside{
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem;
}
footer aside ul{
    list-style-type:none;
    padding:0;
    margin:0;
}
footer aside ul li a{
    text-decoration: none;
    color:white;
}